:root {
  --interface-clr-1: #f04e25;
  --interface-clr-2: #437ec2;
}

.app {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;

  ul {
    height: 100vh;
    overflow-y: auto;
  }
}
